@media (max-width: 992px) {
  .comment{
    &__menu{
      // height: calc(100vh - 66px);
      
    }
  }
}

@media (max-width: 600px) {
  .comment{
    &__main-comment{
    grid-template-rows: auto auto auto auto;
    }
    &__user-name{
      font-size: 16px;
    }
    &__contact-list{
      grid-row: 2 / 3;
      grid-column: 1 / 3;
      justify-content: flex-start;
      margin-top: 15px;
    }
    &__menu-btn{
      justify-self: flex-end;
    }
    &__text{
      grid-row: 3/ 4;
    }
    &__answer-field-fake{
      grid-row: 4 / 5;
    }
    &__sub-comments{
      padding-left: 20px;
    }
  }
  .full-form{
    &__input-wrapper-email{
      margin-top: 10px;
    }
    &__input-wrapper{
      width: 100%;
    }
    &__name{
      width: 60%;
    }
    &__email{
      width: 60%;
    }
  }
  .comment{
    &__menu{
      width: auto;
    }
  }
}

@media (max-width: 500px) {
  .full-form{
    &__input-wrapper{
      width: 100%;
    }
    &__name{
      width: 100%;
    }
    &__email{
      width: 100%;
    }
  }
}